body {
  margin: 0px;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.homeLanderOuter {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.homeLanderInner {
  width: calc(100% - 20px);
  height: calc(100svh - 20px);
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 25px solid white;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.homeLanderAni {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;
  z-index: 1000;
}

.homePhotoHolder {
  box-shadow: 0 0 45px 45px black inset;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(30deg);
  opacity: 0;
}

.videoLander {
  position: relative;
  width: calc(100% - 50px);
  height: calc(15vw + 60px);
}
.videoHolder {
  position: relative;
  width: calc(15vw + 10px);
  height: calc(15vw + 10px);
}

.videoHolder video:nth-child(2) {
  mix-blend-mode: multiply;
}
.videoShadow {
  z-index: 2;
  width: calc(15vw + 10px);
  height: calc(15vw + 10px);
  box-shadow: 0 0 15px 15px black inset;
}

.videoPlay {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.videoVisible {
  opacity: 1;
  transition: 2s;
}

.videoRow {
  padding: 25px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
}

.bottomVideo {
  flex-flow: column;
}

.bottomVidAniHolder {
  position: relative;
  min-height: 150px;
  width: 80%;
}

.bottomVidAniP {
  position: absolute;
  top: 0;
  left: 0;
}

.videoFade {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.watchThePSA {
  font-size: 66px;
  color: white;
  text-align: center;
}

.watchThePSA:hover {
  cursor: default;
}

.PSAHolder {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: none;
}

.PSAVisible {
  visibility: visible;
  opacity: 1;
  transition: 3s;
}
.bigBottomHold {
  position: relative;
}

.ytContainer {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.ytContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.homeVisibleImage {
  opacity: 1;
  transition: 1s;
}

.homePhotoGrid {
  flex: 1;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.homeLanderDownHolder {
  position: absolute;
  width: 10%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  background-color: black;
  align-content: center;
  color: white;
  font-size: 2em;
  text-align: center;
}

.arrow {
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.homeHolder {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.homeBadThings {
  display: flex;
  flex-flow: column;
  width: calc(100% - 70px);
  align-items: center;
  background-color: black;
  padding: 35px;
}

.homeGenAni {
  width: 90%;
}
#homeBadAni {
  margin-top: 25px;
  min-height: 50px;
}

#homeBadDesc {
  min-height: 100px;
}

.homeBadMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.homeBadImg {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 45px 45px black inset;
  opacity: 0;
  color: white;
  align-content: center;
  text-align: center;
  font-size: 1.25em;
  user-select: none;
}

.homeBadImgVisibleT {
  opacity: 1;
  transition: 8s;
}

.homeBadImgVisible {
  opacity: 1;
}

.homeBadImgFull:hover {
  cursor: pointer;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.badImgText {
  background-color: black;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.cig {
  background-image: url("imgs/cig.avif");
}

.junkfood {
  background-image: url("imgs/junkfood.avif");
}

.uplate {
  background-image: url("imgs/uplate.avif");
  background-position: right 20px bottom 5px;
}

@media only screen and (min-width: 768px) {
  .homePhotoHolder {
    width: calc((100vw - 100px - 90px) / 4);
    height: calc((100vw - 100px - 90px) / 4);
  }
  .homePhotoGrid {
    gap: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .homePhotoHolder {
    width: calc((100vw - 100px - 150px) / 5);
    height: calc((100vw - 100px - 150px) / 5);
  }
}

@media only screen and (min-width: 1200px) {
  .homePhotoHolder {
    width: calc((100vw - 100px - 150px - 150px) / 6);
    height: calc((100vw - 100px - 150px - 150px) / 6);
  }
}

@media only screen and (max-width: 767px) {
  
  .homePhotoHolder {
    width: calc((100vw - 100px - 60px) / 3);
    height: calc((100vw - 100px - 60px) / 3);
  }
  .homePhotoHolder {
    box-shadow: 0 0 10px 10px black inset;
  }
  .homePhotoGrid {
    gap: 10px;
  }

  .homeGenAni {
    width: 100%;
  }

  .homeBadMain {
    flex-flow: column;
    align-items: center;
  }

  .homeBadImg {
    width: 80vw;
    height: 80vw;
    margin-bottom: 25px;
  }

  .homeLanderDownHolder {
    width: 25%;
  }

  .watchThePSA {
    font-size: 50px;
  }

  .videoLander {
    height: calc(30vw + 60px);
    width: 100%;
  }
  .videoHolder {
    width: calc(30vw + 10px);
    height: calc(30vw + 10px);
  }
  .videoShadow {
    width: calc(30vw + 10px);
    height: calc(30vw + 10px);
    box-shadow: 0 0 20px 20px black inset;
  }
  
  .videoRow {
    padding: 0;
    width: 100%;
  }
  .videoPlay {
    width: 30vw;
    height: 30vw;
  }
}
